
.trim-wrapper {
    background: white;
    height: 100%;
    width: 100%;
    position: relative;
}

.trim-closer {
    color: rgb(46, 109, 239);
    position: absolute;
    right: 20px;
    top: 10px;
    height: 32px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}