.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 660px;
    height: 640px;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 0 12px 5px rgb(255 255 255 / 71%);
}

.header {
    height: 80px;
    width: 100%;
    text-align: center;
    border-radius: 8px 8px 0 0;
    border-style: none none solid none;
    border-color: white;
    border-bottom-width: 1px;


}

.header > h2 {
    color: white;
    font-size: 30px;
    line-height: 80px;
    margin: 0;
}

.closer {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 32px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.content {
    height: calc(100% - 80px);
    border-radius: 0 0 8px 8px;
    display: flex;

}

.line {
    width: 1px;
    height: 100%;
    background: white;
}